<!DOCTYPE html>
<html>
<head>
  <title>HTW</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if Rails.env == "development" %>
<hr/>
<%= params.inspect %>
<% end %>
</body>
</html>
